/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
@font-face {
  font-display: swap;
  font-family: "Roboto-Regular";
  src: url("/Fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Roboto-Medium";
  src: url("/Fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-display: swap;
  font-family: "Archivo-Black";
  src: url("/Fonts/Archivo/Archivo-Black.ttf") format("truetype");
}

/* GRID SYSTEM */
.container {
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    width: 57rem;
  }
}

@media (min-width: 768px) {
  .container {
    width: 72rem;
  }
}

@media (min-width: 992px) {
  .container {
    width: 96rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 114rem;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 137rem;
  }
}
@media (min-width: 1570px) {
  .container {
    width: 153rem;
  }
}

:root {
  --white: #fff;
  --app-bg: #faf4f2;
  --orange: #e76f51;
  --dark-grey: #8d8d8d;
  --light-grey: #d2d2d2;
  --text--dark: #3b3735;
  --secondary-color: #f8e1db;
  --dark-grey-btn: rgba(141, 141, 141, 0.1);
  --primary-font: "Roboto-Regular", Arial, Helvetica, sans-serif;
  --secondary-font: "Archivo-Black", Arial, Helvetica, sans-serif;
  --primary-font-md: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px */
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: var(--app-bg);
  font-family: var(--primary-font), sans-serif;
}

/*
	* -- Reset Style --
*/

a {
  text-decoration: none;
}

.btn {
  height: 5vh;
  display: flex;
  font-size: 2vh;
  max-width: 20vh;
  margin-left: auto;
  margin-right: auto;
  color: var(--white);
  align-items: center;
  border-radius: 10rem;
  justify-content: center;
  background-color: var(--text--dark);
  font-family: var(--primary-font-md), sans-serif;
  /* border: .2rem solid var(--orange); */
}
